.extra-menu {
  background: #f4f4f4;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: relative;
  margin: 2rem auto 0;
  align-items: center;
}

.extra-menu img{
  width: 100%;
}

.extra-menu div:first-child{
  width: 70%;
}

.extra-menu div:last-child{
  width: 30%;
}

.extra-menu .games div {
  font-family: "Gilroy";
  font-weight: 600;
  margin: 1.5rem 0;
  cursor: pointer;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
  .extra-menu{
    width: 100%;
    padding: 1rem;
  }

  .extra-menu .games div{
    margin: 1rem 0;
  }

  .extra-menu div:last-child{
    display: none;
  }

  .extra-menu div:first-child{
    width: 100%;
  }
}
