#pagination{
    position: fixed;
    right: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 12;
    height: 75vh;
}
.pageLink {
    display: none !important;
}
#line div{
    display: flex;
    flex-direction: row-reverse;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.anchorHome:hover + .homeLink{
display: flex !important;
}
.anchorAbout:hover + .aboutLink{
    display: flex !important;
    }

    .anchorVideos:hover + .videosLink{
        display: flex !important;
        }

        .anchorKernel:hover + .kernelLink{
            display: flex !important;
            }

            .anchorContact:hover + .contactLink{
                display: flex !important;
                }
                




#line{
    width: 3px;
    height: 100%;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dots{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* margin-left: 20px; */
}
#line span{
    position: absolute;
}
.dots.active{
    outline: 3px solid white;
    outline-offset: 3px;
}

@media screen and (max-width: 768px) {
    #pagination{
        display: none
    }
}