#loaderAnimation {
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: black;
}


.loaderImg{
    height: 30vh;
    width: 30vw;
    background-image: url("./latestloader.gif");
    box-shadow: 50px 50px 113px #000 inset, -50px -50px 110px #000 inset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}