.speakerPhoto{
    
    max-width: 300px;
    max-height: 300px;

}
.speakerCardMain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: stretch; */
    align-items: center;
    padding: 20px;
    z-index: 2;
}
.speakerInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.speakerInfo{
    margin-right:140px ;
}
.speakerPersonal {
    color: white;
    text-align: center;
    margin-top: 20px;
    z-index: 2;
}
.speakerPersonal h2{
    font-family: "Forgotten Futurist";
    letter-spacing: 1.5px;
    font-size: 2rem;
    z-index: 2;        
}
.speakerPersonal p{

    font-family: "Forgotten Futurist";
    letter-spacing: .5px;
    text-align: center;
    z-index: 2;

}
.speakerDetails{
    color: white;
    width: 320px;
    /* height: 250px; */
    overflow-y: scroll;
    border-radius: 20px;
    padding: 20px;
    background: rgba(7, 9, 73, 0.09);
box-shadow: inset 0px 1px 23.4612px rgba(107, 100, 154, 0.3), inset 0px 1px 52.136px rgba(179, 171, 226, 0.2);
z-index: 2;
}
.speakerDetails p {
    padding: 1.5vh;
}

.awssld__controls button:hover .awssld__controls__arrow-left,
.awssld__controls button:hover .awssld__controls__arrow-right {
  opacity: 1 !important}

.awssld__content{
    background-color: transparent !important;
}
/* .awssld__controls button:hover .awssld__controls__arrow-left:before{
    transform: rotate(45deg) !important;
}
.awssld__controls button:hover .awssld__controls__arrow-left:after{
    transform: rotate(-45deg) !important;
}
.awssld__controls button:hover .awssld__controls__arrow-right:before{
    transform: rotate(-45deg) !important;
}
.awssld__controls button:hover .awssld__controls__arrow-right:after{
    transform: rotate(45deg) !important;
} */
.awssld__controls button .awssld__controls__arrow-left, .awssld__controls button .awssld__controls__arrow-right{
    opacity: 0.8!important;
    /* transition: none !important; */
}

@media (max-width:768px) {
.speakerHeading, .subHeading {
    text-align: center;
}
    
.awssld__wrapper{
    height: 600px !important;
}
.awssld__controls{
    visibility: visible !important;
}
.awssld__controls__arrow-left, .awssld__controls__arrow-right{
    height: 2px !important;
}
    .speakerCardMain{
        flex-direction: column;
    }  
    .speakerDetails{
        margin-top: 20px;
    }
    .speakerPhoto{
    
        max-width: 200px;
        max-height: 200px;
    
    }
    .speakerInfo{
        margin-right:00px ;
    }
    .speakerPersonal h2{
        letter-spacing: 1px;
        font-size: 1.75rem;
            
    }
    .speakerPersonal p{
    
        font-family: "Forgotten Futurist";
        letter-spacing: .5px;
        text-align: center;
    
    }
}