.subHeading{
    color: white;
    margin: 10px 50px;
    font-size: 1.75rem;
    font-family: "Forgotten Futurist";
    letter-spacing: 2px;
    z-index: 2;
}
.speakerHeading{
    line-height: 76.8px;
    font-family: 'Pirulen';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 77px;
    margin: 50px 50px 0px 50px;
    color: white;
    z-index: 2;
}
.speakerCarousel{
    width: 80vw;
    margin: auto;
    z-index: 2;
}
.carousel__dot-group{
display: flex;
justify-content: center;
}

.carousel__dot-group button{
margin: 0px 10px;
height: 12px;
width: 12px;
border-radius: 50%;
border: none;
padding: 5px;
}
.carousel__dot--selected{
    position: relative;
    background-color: white;
}
.carousel__dot--selected:after {
  border-radius: 50%;
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: white 2px solid;
}
@media (max-width:768px) {
    .speakerCarousel{
        width: initial;
        margin: initial;
    }


}