.signDate {
  position: relative;
  color: white;
  top: -110px;
  left: -10px;
  font-weight: bold;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 1em;
}

.sign {
  position: absolute;
  width: 12rem;
  left: 6%;
  z-index: 11;
  /* bottom: calc((100vw * 220) / 1538 - 6px); */
  top: 68vh;
  mix-blend-mode: lighten;
}

@media screen and (max-width: 768px) {
  .sign {
    left: 68vw;
    top: 69%;
    width: 24vw;
    /* width: 8rem; */
  }
  .signDate {
    font-size: 0.65rem;
    top: -82.5px;
    left: -0.5px;
  }
}
