.card-description-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 79%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 0;
  z-index: 15;
  color: white;
}

.kernel-events.card-description-container {
  position: fixed;
}
.card-description-box {
  background: rgba(7, 9, 73, 0.09);
  -webkit-box-shadow: inset 0px -106.879px 88.6312px -83.4176px
      rgba(104, 80, 148, 0.3),
    inset 0px 5.2136px 23.4612px rgba(107, 100, 154, 0.3),
    inset 0px 1.3034px 52.136px rgba(179, 171, 226, 0.2);
  box-shadow: inset 0px -106.879px 88.6312px -83.4176px rgba(104, 80, 148, 0.3),
    inset 0px 5.2136px 23.4612px rgba(107, 100, 154, 0.3),
    inset 0px 1.3034px 52.136px rgba(179, 171, 226, 0.2);
  -webkit-backdrop-filter: blur(130px);
  backdrop-filter: blur(130px);
  border-radius: 20px;
  width: auto;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  max-width: 50vw;
  display: flex;
  color: #FBF1F1;
  max-height: 80vh; 
}

.kernel-events .card-description-box {
  max-width: 50vw;
}

.close-card-description {
  font-size: 20px;
  font-weight: 900;
  text-align: right;
  cursor: pointer;
}
.card-description-heading {
  /* margin-top: 2vh; */
  font-weight: 700;
  font-size: 30px;
}

.card-description-tabs{
  margin: 2vh 0 3vh;
  border-bottom: 1px solid #FBF1F1;
  padding-bottom: 0.5rem;
}

.card-description-tabs span{
  padding: 0 1rem 6px 0;
  transition: 0.3s all ease;
}

.card-tab-active{
  border-bottom: 2px solid #FBF1F1;
  transition: 0.3s all ease;
}

.card-description-text{
  width: 60%;
  padding: 1rem 0 0 2rem;
  transition: 0.3s all ease;
  height: 100%;
  overflow-y: scroll;
}

.card-description-details{
  transition: 0.3s all ease;

}

.card-description-img {
  height: 100%;
  width: 40%;
  border-radius: 10px;
  background-size: cover;
  background-color: hsl(227deg 24% 47%);
  background-image: url("../assets/favicon1.ico");
  background-position: center center;
}

@media all and (max-width: 500px) {
  .card-description-box,
  .kernel-events .card-description-box {
    max-width: 85vw;
  }

  .card-description-img{
    display: none;
  }

  .card-description-text{
    padding: 0;
    width: 100%;
  }

  .card-description-heading {
    font-size: 20px;
  }
}

.loaderDivEvents {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 30;
  overflow: hidden;
}
