
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Landing CSS */
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  /* overflow-anchor: none; */
}

html {
  width: 100%;
  height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* .sky img,
.logo img,
.stars img,
.balcony img,
.moon img {
  width: 100%;
} */

.sky {
  background: url(../assets/laptop/Sky.svg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.stars {
  /* width: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
  mix-blend-mode: screen; */
  background: url(../assets/laptop/Stars.png) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200vh;
  width: 200vw;
  /* z-index: -3; */
  mix-blend-mode: screen;
  position: absolute;
  top: -50vh;
  bottom: 10vh;
  width: 100%;
  animation: rotateMoon 100s linear reverse infinite;
}

.balcony {
  width: 100%;
  /* height: 100%; */
  z-index: 40;
  position: absolute;
  /* bottom: -5px; */
  top: 72vh;
  /* bottom: -40vh; */
  max-width: 100%;
}

.balcony-mobile {
  display: none;
  /* height: 80%; */
  
}

/* .balcony-mobile img{
  height: 100%;
  width: unset;
} */

.moon {
  width: 125%;
  /* z-index: -3; */
  position: absolute;
  top: -20vh;
  /* bottom: 10vh; */
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  mix-blend-mode: screen;
  /* background: url(../assets/laptop/Moon.svg) no-repeat; */
  background-size: 100%;
  height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}
#moon {
  -webkit-animation: rotateMoon 100s infinite linear;
          animation: rotateMoon 100s infinite linear;
  position: relative;
  top: 33%;
  /* mix-blend-mode: screen; */
}

@-webkit-keyframes rotateMoon {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateMoon {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.balcony .glow {
  width: 100%;
  background: -o-radial-gradient(
    50% 96.77%,
    217.21% 217.2%,
    #ffffff 0%,
    rgba(112, 36, 36, 0.41) 100%
  );
  background: radial-gradient(
    217.21% 217.2% at 50% 96.77%,
    #ffffff 0%,
    rgba(112, 36, 36, 0.41) 100%
  );
  mix-blend-mode: color-dodge;
  opacity: 0.4;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
      -ms-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
  top: 0;
  z-index: 40;
  height: 65%;
}

.balcony .horizon-glow {
  width: 90%;
  height: 30%;
  position: absolute;
  bottom: calc((100vw * 220) / 1538 - 30px);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -o-radial-gradient(
    50% 50%,
    50% 50%,
    #f6feff 0%,
    #c3bfc5 41.46%,
    #573c4b 100%
  );
  background: radial-gradient(
    50% 50% at 50% 50%,
    #f6feff 0%,
    #c3bfc5 41.46%,
    #573c4b 100%
  );
  background: blue;
  mix-blend-mode: color-burn;
  opacity: 0.65;
  -webkit-filter: blur(60px);
          filter: blur(60px);
  z-index: 10;
}

.balcony .horizon-glow-buildings {
  width: 70%;
  height: 30%;
  position: absolute;
  bottom: calc((100vw * 220) / 1538 - 30px);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -o-radial-gradient(
    50% 50%,
    103.57% 103.57%,
    #ffffff 0%,
    #180000 100%
  );
  background: radial-gradient(
    103.57% 103.57% at 50% 50%,
    #ffffff 0%,
    #180000 100%
  );
  background: blue;
  mix-blend-mode: color-dodge;
  opacity: 0.3;
  -webkit-filter: blur(40px);
          filter: blur(40px);
  z-index: 40;
}

.city {
  position: absolute;
  /* bottom: calc((100vw * 1541) / 1598 - 40vh); */
  width: 50%;
  left: 50%;
  z-index: 35;
}

.city1 {
  width: 70%;
  -webkit-transform: translate(-45%, 100%);
      -ms-transform: translate(-45%, 100%);
          transform: translate(-45%, 100%);
  z-index: 30;
  -webkit-transition: -webkit-transform 0.8s ease-out;
  transition: -webkit-transform 0.8s ease-out;
  -o-transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
  top: 68vh;
}

.city2 {
  width: 65%;
  -webkit-transform: translate(-46%, 100%);
      -ms-transform: translate(-46%, 100%);
          transform: translate(-46%, 100%);
  z-index: 25;
  -webkit-transition: -webkit-transform 0.8s ease-out;
  transition: -webkit-transform 0.8s ease-out;
  -o-transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
  top: 60.5vh;
}

.city3 {
  width: 50%;
  -webkit-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  z-index: 20;
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  -o-transition: transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
  top: 49vh;
}

.city4 {
  width: 46%;
  -webkit-transform: translate(-54%, 100%);
      -ms-transform: translate(-54%, 100%);
          transform: translate(-54%, 100%);
  z-index: 17;
  -webkit-transition: -webkit-transform 1.2s ease-out;
  transition: -webkit-transform 1.2s ease-out;
  -o-transition: transform 1.2s ease-out;
  transition: transform 1.2s ease-out;
  transition: transform 1.2s ease-out, -webkit-transform 1.2s ease-out;
  -webkit-transition-delay: 1.7s;
       -o-transition-delay: 1.7s;
          transition-delay: 1.7s;
  top: 25vh;
}

.city5 {
  width: 30%;
  -webkit-transform: translate(-75%, 100%);
      -ms-transform: translate(-75%, 100%);
          transform: translate(-75%, 100%);
  z-index: 15;
  -webkit-transition: -webkit-transform 1.3s ease-out;
  transition: -webkit-transform 1.3s ease-out;
  -o-transition: transform 1.3s ease-out;
  transition: transform 1.3s ease-out;
  transition: transform 1.3s ease-out, -webkit-transform 1.3s ease-out;
  -webkit-transition-delay: 2.3s;
       -o-transition-delay: 2.3s;
          transition-delay: 2.3s;
  top: 20vh;
}

.city6 {
  width: 19%;
  -webkit-transform: translate( -7%, 100%);
      -ms-transform: translate( -7%, 100%);
          transform: translate( -7%, 100%);
  z-index: 12;
  -webkit-transition: -webkit-transform 1.3s ease-out;
  transition: -webkit-transform 1.3s ease-out;
  -o-transition: transform 1.3s ease-out;
  transition: transform 1.3s ease-out;
  transition: transform 1.3s ease-out, -webkit-transform 1.3s ease-out;
  -webkit-transition-delay: 2.3s;
       -o-transition-delay: 2.3s;
          transition-delay: 2.3s;
  top: 47vh;
}

.socials {
  position: absolute;
  top: 78vh;
  left: 1.5rem;
  z-index: 12;
}

.socials div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: 1.25rem;
  cursor: pointer;
}



@media screen and (max-width: 768px) {
  .balcony{
    bottom: -5px;
  }

  .balcony-lp {
    display: none;
  }

  .balcony-mobile {
    display: block;
  }

  .sky {
    background: url(../assets/mobile/Sky.svg) no-repeat;
    background-size: 100% 100%;
    height: 100vh;
  }

  .stars {
    background: url(../assets/mobile/Stars.png) no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    top: -20vh;
    animation: none;
  }

  .moon {
    overflow: hidden !important;
    /* background: url(../assets/mobile/Moon.svg) no-repeat; */
    left: 50%;
    width: 100vw;
    background-size: 100%;
    bottom: 1.75rem;
    mix-blend-mode: screen;
  }
  #moon {
    /* display: none; */
    width: 400vw;
  }

  .city1 {
    width: 241%;
    top: 68.75vh;
  }

  .city2 {
    width: 161%;
    top: 65.25vh;
  }

  .city3 {
    width: 141%;
    top: 57vh;
  }

  .city4 {
    /* left: calc(50% - 1rem); */
    width: 132%;
    top: 40vh;
    /* bottom: calc((100vw * 283) / 390 - 1rem); */
  }

  .city5 {
    width: 90%;
    top: 35vh;
    /* bottom: calc((100vw * 283) / 390 - 2rem); */
  }

  .city6 {
    width: 50%;
    /* left: calc(50% - 1rem); */
    top: 57vh;
  }

  .balcony .glow {
    height: 35%;
  }

 

  .socials{
    top: 80vh;
  }
}

/* NavBar CSS */

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  position: absolute;
  top: 0;
  z-index: 20;
}

.hamburger {
  width: 25px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  -o-transition: transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
  z-index: 200;
}

.hamburger.open {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 4px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 300ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -o-transition: transform 300ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 300ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 300ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 300ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

.open .line-menu.start {
  -webkit-transform: rotate(-90deg) translateX(3px);
      -ms-transform: rotate(-90deg) translateX(3px);
          transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 300ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -o-transition: transform 300ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 300ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 300ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 300ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.open .line-menu.end {
  -webkit-transform: rotate(-90deg) translateX(-3px);
      -ms-transform: rotate(-90deg) translateX(-3px);
          transform: rotate(-90deg) translateX(-3px);
}

.logo {
  width: 18vw;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem;
  }

  .logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80%;
    margin-top: 3rem;
  }

  .hamburger {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 30px;
    height: 25px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .line-menu {
    height: 3px;
  }
}
@media screen and (max-width: 420px) {
  #moon {
    top: 40%;
  }
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}