@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: "Bartkey";
  src: local("Bartket"), url("../fonts/BARTKEY.ttf") format("truetype");
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* .bg {
  background-color: #000932;
  background-image: url(../assets/laptop/events_balcony.svg);
  background-size: cover;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -10;
  
}
.bg-img {
  object-fit: cover;
} */

.all-events-wrapper {
  background-color: black;
  background-image: url(../Components/Sponsors/Assets/meteor\ background.png);
  background-size: 100vw;
}
.all-events-container,
.kernel-events-container {
  /* width: 80%;
  position: absolute;
  top: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); */
  color: white;
  z-index: 2;
  /* height: calc(100% - 4rem); */
  /* overflow-x: hidden;
  overflow-y: scroll;
  height: 90%; */

  display: flex;
  flex-direction: column;
  padding-bottom: 0vh;
  height: max-content;
  align-items: center;
}
.card-text{

}
.heading {
  font-family: "Pirulen";
  font-size: 36px;
  padding: 1rem 0;
  z-index: 2;
}

.kernel-events-container .heading {
  font-size: 2.5rem;
    text-align: left;
    padding-left: 50px;
    /* margin-top: 5vh; */
    width: 100%;
    margin: 50px 50px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - 4rem);
  width: 100vw;
}

.card {
  z-index: 2;
  width: 33%;
  height: 255px;
  margin: 1rem 1rem;
  background: rgba(7, 9, 73, 0.09);
  -webkit-box-shadow: inset 0px 1px 23.4612px rgba(107, 100, 154, 0.3), inset 0px 1px 52.136px rgba(179, 171, 226, 0.2);
    box-shadow: inset 0px 1px 23.4612px rgba(107, 100, 154, 0.3), inset 0px 1px 52.136px rgba(179, 171, 226, 0.2);
  -webkit-backdrop-filter: blur(120px);
  backdrop-filter: blur(120px);
  border-radius: 20px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.card-img {
  height: 100%;
  width: 40%;
  border-radius: 10px;
  background-size: cover;
  background-color: hsl(227deg 24% 47%);
  background-image: url("../assets/favicon1.ico");
  background-position: center center;
}

/* .card-img img {
  width: unset;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} */

.card-text {


  width: 60%;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 90%;
  -webkit-box-align: center;
  -ms-flex-align: center;

}

.card-text *{
  font-family: "Montserrat", sans-serif !important;
}
.card-text > p {
  font-size: 12px;
  margin-bottom: 20px;
  text-align: left;
}
.card-text > h3 {
  margin: 0;
  margin-bottom: 16px;
  text-align: left;
}

.view-btn {
  width: 80%;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
  outline: 1px solid rgba(255, 255, 255, 0.9);
  text-align: center;
  outline-offset: 3px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 12px;
  font-weight: 600;
  margin: 5px;
}
.view-btn:disabled {
  background-color: rgb(255 255 255 / 51%);
}
.view-btn:hover {
  opacity: 0.6;
  transform: scale(1.03);
}

.arrow {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 2rem;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0; 
  background: transparent;
}

.all-events-wrapper::-webkit-scrollbar {
  width: 9px;
  background: black;
}

.all-events-wrapper::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #5a5a5a;
  border-radius: 18px;
}

@media screen and (max-width: 768px) {
  .all-events-container {
    top: 4rem;
  }

  .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    overflow-y: scroll;
    width: 90%;
    height: 83%;
    margin-top: 1rem;
  }

  .bg {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#000022),
      color-stop(50.31%, #00003e),
      to(#000025)
    );
    background: -o-linear-gradient(
      top,
      #000022 0%,
      #00003e 50.31%,
      #000025 100%
    );
    background: linear-gradient(
      180deg,
      #000022 0%,
      #00003e 50.31%,
      #000025 100%
    );
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
    -ms-transform: matrix(1, 0, 0, -1, 0, 0);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  .card {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 1rem 0;
    padding: 3vh 3vw;
  }
  .card-text {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .card h3 {
    /* margin-top: 0.5rem; */
    margin-bottom: 0.5rem;
  }

  .card-img {
    width: 50%;
    min-height: 24vh;
  }

  /* .card-img img {
    height: unset;
    width: 100%;
  } */

  .arrow {
    left: 1rem;
  }

  .view-btn {
    width: 100%;
  }
  .kernel-events-container .heading {
    padding-left: 0;
    text-align: center;
    padding: 0 5px;
    font-size: 36px;
  }
  .heading {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
    padding: 0;
  }

  .events-container {
    top: 8vh !important;
  }
}

@media screen and (min-width: 2560px) {
  .card {
    height: unset;
    width: 31%;
    margin: 1rem 1.5rem;
  }

  .card-img {
    width: 40%;
  }

  /* .card-img img {
    height: unset;
    width: 100%;
  } */

  .view-btn {
    width: 50%;
  }
}
