

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: "Bartkey";
  src: local("Bartket"), url("../fonts/BARTKEY.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  width: 100%;
  height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

.bg {
  /* background: url("./assets/laptop/events_balcony.svg") no-repeat; */
  background-color: #000932;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -10;
  /* position: absolute;
  top: 0;
  left: 0; */
}
.bg-img {
  object-fit: cover;
  height: 100vh;
}

.container,
.events-container {
  width: 80%;
  position: absolute;
  top: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  z-index: 0;
  height: calc(100% - 4rem);
  /* overflow-x: hidden;
  overflow-y: scroll;
  height: 90%; */
}

.events-container {
  top: 2vh;
  position: relative;
  z-index: 50;
}

.heading {
  font-family: "Bartkey";
  font-size: 3rem;
  padding: 1rem 0;
}

.events-container .heading {
  font-size: 4rem;
  text-align: left;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - 4rem);
}

.card {
  width: 33%;
  height: auto;
  margin: 1rem 1rem;
  background: rgba(7, 9, 73, 0.09);
  -webkit-box-shadow: inset 0px -106.879px 88.6312px -83.4176px rgba(104, 80, 148, 0.3),
    inset 0px 5.2136px 23.4612px rgba(107, 100, 154, 0.3),
    inset 0px 1.3034px 52.136px rgba(179, 171, 226, 0.2);
          box-shadow: inset 0px -106.879px 88.6312px -83.4176px rgba(104, 80, 148, 0.3),
    inset 0px 5.2136px 23.4612px rgba(107, 100, 154, 0.3),
    inset 0px 1.3034px 52.136px rgba(179, 171, 226, 0.2);
  -webkit-backdrop-filter: blur(130px);
          backdrop-filter: blur(130px);
  border-radius: 20px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-img {
  height: 100%;
  width: 40%;
  border-radius: 10px;
  background-size: cover;
  background-color: hsl(227deg 24% 47%);
  background-image: url("../assets/favicon1.ico");
  background-position: center center;
}

/* .card-img img {
  width: unset;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} */

.card-text {
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  width: 60%;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-text > p {
  font-size: 12px;
}
.card-text > h3 {
  margin: 0;
}

.view-btn {
  width: 80%;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
  outline: 1px solid rgba(255, 255, 255, 0.9);
  text-align: center;
  outline-offset: 3px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  font-size: 12px;
  font-weight: 600;
  margin: 10px;
}

.view-btn:hover {
  opacity: 0.6;
}

.arrow {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 10;
  width: 2rem;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

@media screen and (max-width: 768px) {
  .container {
    top: 4rem;
  }

  .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    overflow-y: scroll;
    width: 100%;
    height: 83%;
    margin-top: 1rem;
  }

  
.bg{
  background: -webkit-gradient(linear, left top, left bottom, from(#000022), color-stop(50.31%, #00003E), to(#000025));
  background: -o-linear-gradient(top, #000022 0%, #00003E 50.31%, #000025 100%);
  background: linear-gradient(180deg, #000022 0%, #00003E 50.31%, #000025 100%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
      -ms-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}
  .card {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 1rem 0;
    padding: 3vh 3vw;
  }
  .card-text {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .card h3 {
    /* margin-top: 0.5rem; */
    margin-bottom: 0.5rem;
  }

  .card-img {
    width: 50%;
    min-height: 24vh;
  }

  /* .card-img img {
    height: unset;
    width: 100%;
  } */

  .arrow {
    left: 1rem;
  }

  .view-btn {
    width: 100%;
  }

  .heading {
    font-size: 2.5rem !important;
    text-align: center;
    margin: 2rem 0 1rem;
    padding: 0;
  }

}

@media screen and (min-width: 2560px) {
  .card {
    height: unset;
    width: 31%;
    margin: 1rem 1.5rem;
  }

  .card-img {
    width: 40%;
  }

  /* .card-img img {
    height: unset;
    width: 100%;
  } */

  .view-btn {
    width: 50%;
  }
}

