.testWrapper{
    background: linear-gradient(0deg, #000022, #000022);
}
.gridVertical {
    background: url("../Components/MainHero/MainHeroAssets/verticalGrid.svg");
    background-position: center;
    background-size: 99vw;
    background-position-y: inherit;
    padding-bottom: 1rem;
}
.background{
    position: relative;
    margin-top: -5px;
    background: linear-gradient(0deg, #000022, #000022);
    z-index: 9;
    /* top: 100vh; */
}

@media screen and (max-width: 768px){
    .events-container{
        top: 4vh;
    }
    .events-container .heading{
        text-align: center !important;
        margin-bottom: 0;
    }
    .background{
        position: absolute;
        top: calc(100vh - 2rem);
        margin-top: 0;
    }

    .gridVertical{
        background-position-y: 0% ;
    }
}