.testWrapper {
  /* background: linear-gradient(0deg, #000022, #000022); */
  background-color: black;
  display: flex;
  flex-direction: column;
}
/* .gridVertical {
  background: url("../Components/MainHero/MainHeroAssets/verticalGrid.svg");
  background-position: center;
  background-size: 100vw;
  background-position-y: inherit;
  padding-bottom: 1rem;
  position: relative;
  top: 0;
} */
.background {
  margin-top: -5px;
  /* background: linear-gradient(0deg, #000022, #000022); */
  background: #000022;
  background-image: url("../Components/MainHero/MainHeroAssets/Vector.svg");
  z-index: 15;
  background-size: 100vw;
  /* top: 100vh; */
}

@media screen and (max-width: 768px) {
  .events-container {
    top: 4vh;
  }
  .events-container .heading {
    text-align: center !important;
    margin-bottom: 0;
  }
  .background {
    /* position: absolute;
        top: calc(100vh - 7.5rem); */
    margin-top: 0;
  }

  .gridVertical {
    /* background-position-y: -20% ; */
    padding-bottom: 3rem;
  }
}

