/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Gilroy";
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "BARTKEY";
  src: local("BARTKEY"), url(../fonts/BARTKEY.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url(../fonts/Gilroy.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.modalHeading {
  font-family: "BARTKEY";
  font-size: 50px;
  color: white;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#submitBtn {
  /* background: red; */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
}

#submit-form {
  color: black;
  font-size: 18px;
  /* background: white; */
  font-family: "Montserrat";
  border: none;
  padding: 5px 30px;
  font-weight: bold;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

#submit-form:hover {
  cursor: pointer;
  opacity: 0.6;
}

.css-1sv5jkp-MuiFormControl-root-MuiTextField-root,
.css-f9zftz-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
.css-4vkg4y-MuiFormControl-root-MuiTextField-root {
  border-radius: 10px !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.MuiFormLabel-root.Mui-focused {
  color: white !important;
  border-color: white !important;
}

.MuiTextField-root {
  border: none !important;
  border-radius: 10px !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
  border-radius: 10px !important;
}

.MuiOutlinedInput-input {
  color: white !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
  border-radius: 10px;
}

.MuiOutlinedInput-input {
  border: 1px solid white;
  border-radius: 10px;
}

input:focus {
  background-color: none;
  outline: none;
}

input {
  /* color: white !important; */
  font-size: 20px;
}

.genderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 95%;
}

span {
  padding: 10px;
}

.genderContainerInput {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.registerBtn {
  color: black;
  font-size: 18px;
  /* background: white; */
  font-family: "Montserrat";
  padding: 5px 30px;
  font-weight: bold;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.registerBtn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.registerBtnBorder {
  border: 1px solid white;
  padding: 3px;
}

.register-lp {
  display: block;
}

.register-mobile {
  display: none;
}


#drawer {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 150;
  top: 0;
  right: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 1rem;
  text-align: left;
  background: rgba(2, 4, 18, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

/* #drawer a {
  width: 60%;
  padding: 20px;
  font-weight: 600;
  font-family: "Montserrat";
  color: white;
  background: rgba(25, 25, 27, 0.09);
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 5px 2px rgba(255, 255, 255, 0.02),
    inset 0px -106.879px 88.6312px -83.4176px rgba(16, 12, 24, 0.05),
    inset 0px 5.2136px 23.4612px rgba(94, 87, 147, 0.15),
    inset 0px 1.3034px 52.136px rgba(161, 155, 199, 0.05);
  box-shadow: 0px 5px 2px rgba(255, 255, 255, 0.02),
    inset 0px -106.879px 88.6312px -83.4176px rgba(16, 12, 24, 0.05),
    inset 0px 5.2136px 23.4612px rgba(94, 87, 147, 0.15),
    inset 0px 1.3034px 52.136px rgba(161, 155, 199, 0.05);
  border-radius: 10px;
  margin: 20px 0;
  text-decoration: none;
} */

#drawer .links, #aic{
  text-decoration: none;
  color: unset;
  font-family: "Montserrat";
  padding: 1rem;
}

.drawer-container{
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.links-container1, .links-container2{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links-container1{
  width: 60%;
  font-weight: 500;
  color: #E4E4E4 !important;
  font-size: 1.5rem;
}

.links-container2{
  width: 40%;
  flex-direction: row;
  justify-content: space-between;
}

.all-links{
  font-weight: 700;
  font-size: 2.5rem;
  color: #9D9D9D !important;
  padding: 0 1rem;
  transition: all 0.7s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aic-container{
  font-weight: 500;
  color: #E4E4E4 !important;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  transform: translateX(-100px);
  transition: all 0.7s ease;
}

#aic:before{
  content: '';
  width: 20vw;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 10;
}

.links:hover div, #aic:hover div{
  color: white;
}

.links div{
  transition: all 0.5s ease;
}

.links:hover div{
  transform: translate(5px, -5px);
}

.sub-menu div{
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {
  .registerBtnWrapper {
    position: absolute;
    left: 1.5rem;
  }

  /* 
  #registerTop{
    position: absolute;
    bottom: calc((100vw * 285) / 393 - 10rem);
    right: 1rem;
    z-index: 60;
  } */
  .modalHeading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 36px;
    margin-left: 20px;
  }

  .register-mobile {
    display: block;
  }

  #drawer{
    width: 100vw;
  }

  .drawer-container{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    justify-content: center ;
  }

  .links-container1{
    display: none;
  }

  .links-container2{
    font-size: 1.5rem;
    width: 100%;
    height: unset;
  }

  .all-links{
    width: 100%;
  }

  .aic-container{
    width: 100%;
    font-size: 1.5rem;
    transform: translateX(0);
  }
}

.MuiChip-label {
  color: white !important;
  border: 1px white solid !important;
  border-radius: 10px !important;
  padding: 0 12px !important;
}

.MuiSvgIcon-root {
  color: white !important;
}

.submitButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.MuiInputBase-root {
  border: none !important;
}