.cell{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
}
.cell * {
    font-family: 'gilroy' !important;
}
.wrapper{
display:-ms-grid;
display:grid;
-ms-grid-columns:auto 110px auto;
grid-template-columns:auto auto;
color:white;
gap:30px;
grid-column-gap:110px;
}
.ModalBox{
    margin-right:-60%
}
.cell span{
    padding:10px;
    white-space: nowrap;
}
.cell label{
    color:white;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
color: white !important
}
.clickHere{
    margin-left: 20px;
    display: inline-block;
    color: white;
}
input[type="checkbox"]{
    margin-left: 10px;
    margin-top: 12px;
}
.css-6od3lo-MuiChip-label{
    color: white;
    border:1px white solid;
    border-radius: 10px;
    padding: 0 12px !important;
}

.game-details-input .css-6od3lo-MuiChip-label{
    color: black;
    border:1px black solid;
    border-radius: 10px;
    padding: 0 12px !important;
}

.css-16vv6l7{overflow-y: scroll;}

#submitBtn{
    margin: 40px 0 0 0;
}

@media screen and (max-width:768px) {
    .cell span {
        /* width: 100px; */
        font-weight: 800;
        font-size: 0.85rem !important;
        white-space: break-spaces;
    }
    .cell *{
        
        font-size: 0.85rem !important;

    }
    .css-16vv6l7{
        padding: 25px 10px !important;
    }
    .wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    }
    .css-cquceo-MuiFormControl-root,.css-1sv5jkp-MuiFormControl-root-MuiTextField-root, .genderContainerInput{
        width: 225px !important;
    }
    .css-w2nlmo-MuiFormControl-root-MuiTextField-root,.css-f9zftz-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,.css-4vkg4y-MuiFormControl-root-MuiTextField-root{
        width: 225px !important;
    }
    .modalHeading {
        text-align: center;
        margin-bottom: 40px;
    }
}
.css-p4wudk-MuiSvgIcon-root {
    fill: white !important;
}