body {
  margin: 0;
  overflow: hidden;
  overflow-anchor: none;
}

html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

#wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* .sky img,
.logo img,
.stars img,
.balcony img,
.moon img {
  width: 100%;
} */

.sky {
  background: url(../assets/laptop/Sky.svg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.stars {
  /* width: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
  mix-blend-mode: screen; */
  background: url(../assets/laptop/Stars.svg) no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: 5;
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  width: 100%;
}

.balcony {
  width: 100%;
  z-index: 40;
  position: absolute;
  bottom: -5px;
  max-width: 100%;
}

.balcony-mobile {
  display: none;
}

.moon {
  width: 110%;
  z-index: 10;
  position: absolute;
  bottom: 10vh;
  left: 45%;
  transform: translateX(-50%);
  mix-blend-mode: screen;
  background: url(../assets/laptop/Moon.svg) no-repeat;
  background-size: 110%;
  height: 100vh;
}

.balcony .glow {
  width: 100%;
  background: radial-gradient(
    217.21% 217.2% at 50% 96.77%,
    #ffffff 0%,
    rgba(112, 36, 36, 0.41) 100%
  );
  mix-blend-mode: color-dodge;
  opacity: 0.4;
  filter: blur(20px);
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
  top: 0;
  z-index: 40;
  height: 65%;
}

.balcony .horizon-glow {
  width: 90%;
  height: 30%;
  position: absolute;
  bottom: calc((100vw * 220) / 1538 - 30px);
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #f6feff 0%,
    #c3bfc5 41.46%,
    #573c4b 100%
  );
  background: blue;
  mix-blend-mode: color-burn;
  opacity: 0.65;
  filter: blur(60px);
  z-index: 10;
}

.balcony .horizon-glow-buildings {
  width: 70%;
  height: 30%;
  position: absolute;
  bottom: calc((100vw * 220) / 1538 - 30px);
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(
    103.57% 103.57% at 50% 50%,
    #ffffff 0%,
    #180000 100%
  );
  background: blue;
  mix-blend-mode: color-dodge;
  opacity: 0.3;
  filter: blur(40px);
  z-index: 40;
}

.city {
  position: absolute;
  bottom: calc((100vw * 220) / 1538 - 6px);
  width: 50%;
  left: 50%;
  z-index: 35;
}

.city1 {
  width: 70%;
  transform: translate(-45%, 100%);
  z-index: 30;
  transition: transform 0.8s ease-out;
}

.city2 {
  width: 65%;
  transform: translate(-45%, 100%);
  z-index: 25;
  transition: transform 0.8s ease-out;
  transition-delay: 0.5s;
}

.city3 {
  width: 50%;
  transform: translate(-50%, 100%);
  z-index: 20;
  transition: transform 1s ease-out;
  transition-delay: 1s;
}

.city4 {
  width: 46%;
  transform: translate(-53%, 100%);
  z-index: 17;
  transition: transform 1.2s ease-out;
  transition-delay: 1.7s;
}

.city5 {
  width: 30%;
  transform: translate(-75%, 100%);
  z-index: 15;
  transition: transform 1.3s ease-out;
  transition-delay: 2.3s;
}

.city6 {
  width: 19%;
  transform: translate(-2%, 100%);
  z-index: 12;
  transition: transform 1.3s ease-out;
  transition-delay: 2.3s;
}

.socials {
  position: absolute;
  bottom: 0rem;
  left: 1.5rem;
  z-index: 50;
}

.socials div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .balcony-lp {
    display: none;
  }

  .balcony-mobile {
    display: block;
  }

  .sky {
    background: url(../assets/mobile/Sky.svg) no-repeat;
    background-size: 100% 100%;
    height: 100vh;
  }

  .stars {
    background: url(../assets/mobile/Stars.svg) no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    top: -20vh;
  }

  .moon {
    background: url(../assets/mobile/Moon.svg) no-repeat;
    left: 50%;
    width: 100%;
    background-size: 100%;
    bottom: 1.75rem;
    mix-blend-mode: screen;
  }

  .city {
    bottom: calc((100vw * 300) / 414 - 7px);
  }

  .city1{
    width: 241%;
  }

  .city2{
    width: 161%;
  }

  .city3{
    width: 141%;
  }
  
  .city4{
    left: calc(50% - 1rem);
    width: 132%;
    bottom: calc((100vw * 300) / 414 - 1rem);

  }

  .city5{
    width: 90%;
    bottom: calc((100vw * 300) / 414 - 2rem);
  }

  .city6{
    width: 50%;
    left: calc(50% - 1rem);
  }

  .balcony .glow{
    height: 35%;
  }
}
