.contactUsWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    /* justify-content: center; */
    align-items: center;
    /* width: 80vw; */
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    z-index: 2;
}
.headingContactUs {
    text-align:left;
    /* padding-left: 10vw; */
    margin-bottom: 50px;
    font-size: 56px;
    font-family: "Pirulen";
    color: white
}
@media screen and (max-width: 768px){
    .contactUsWrapper {
        justify-content: center;
    }
}