<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Partners</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Nanum+Gothic&family=Rubik:wght@300&family=Source+Serif+Pro:wght@200&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="sponsorHeading">
       Media Partners
    </div>
    <div class="details">
        <div class="flex">
            <div class="logo">
                <img src="Assets/Logos/Knowafest Logo_300_100.png" alt="">
            </div>
            <div class="name">
                Knowafest
            </div>
        </div>
        <div class="flex">
            <div class="logo">
                <img src="Assets/Logos/pagalguy logo white-01.png" alt="">
            </div>
            <div class="name">
                Pagalguy
            </div>
        </div>
        <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/BA_Logo_Blue_On_White.png" alt="">
            </div>
            <div class="name">
                Blogadda
            </div>
        </div>
        <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/TET Logo.png alt="">
            </div>
            <div class="name">
                The education tree 
            </div>
        </div>
        <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/Business_Digest__Logo.jpg" alt="">
            </div>
            <div class="name">
                Business Digest Magazine
            </div>
        </div>
        <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/techstory_my (1).png" alt="">
            </div>
            <div class="name">
                Techstory            </div>
        </div>
        <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/webdunia.png" alt="">
            </div>
            <div class="name">
                Webdunia
            </div>
        </div>
        <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/festsinfo-final-logo-1.png" alt="">
            </div>
            <div class="name">
                Fests info
            </div>
        </div>
        <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/campus-times-pune-official-logo-square1.png" alt="">
            </div>
            <div class="name">
                Campus Times Pune
            </div>
        </div>

        <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/unnamed.png" alt="">
            </div>
            <div class="name">
                Digital gurukul 
            </div>
        </div>
        <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/7INBfV0__400x400-removebg-preview-1.png" alt="">
            </div>
            <div class="name">
                Koubek
            </div>
        </div>
        <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/WhatsApp Image 2022-04-05 at 1.24.07 PM.jpeg" alt="">
            </div>
            <div class="name">
                DU times
            </div>
        </div>
        <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/WhatsApp Image 2022-04-05 at 1.24.03 PM.jpeg" alt="">
            </div>
            <div class="name">
                University times 
            </div>
        </div>
        <!-- <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/Switch Primary Logo (1).png" alt="">
            </div>
            <div class="name">
                Sachi siksha
            </div>
        </div> -->
        <!-- <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/Switch Primary Logo (1).png" alt="">
            </div>
            <div class="name">
                Sach Kahoon
            </div>
        </div> -->
        <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/Bizz Buzz logo.jpg" alt="">
            </div>
            <div class="name">
                Bizz buzz
            </div>
        </div>
        <!-- <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/" alt="">
            </div>
            <div class="name">
                Automotive design planet
            </div>
        </div> -->
        <!-- <div class="flex" >
            <div class="logo">
                <img src="Assets/Logos/Switch Primary Logo (1).png" alt="">
            </div>
            <div class="name">
                Delhi 99 tv
            </div>
        </div> -->

    </div>
</body>

</html>