<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsors</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Nanum+Gothic&family=Rubik:wght@300&family=Source+Serif+Pro:wght@200&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="intro">
        SPONSORS
    </div>
    <div class="sponsorHeading">
        Title Sponsor
    </div>
    <div class="details" >
        <div class="flex" onclick="location.href='https://www.fisglobal.com/en/#explore-more'; _blank">
            <div class="logo">
                <img src="Assets/Logos/FIS_logo_c_rgb.png" alt="">
            </div>
            <div class="name">
                FIS
            </div>
        </div>
    </div>
    <div class="sponsorHeading">
        Associate Title Sponsor
    </div>
    <div class="details">
        <div class="flex" onclick="location.href='https://www.autodesk.com/education/edu-software/overview?sorting=featured&filters=individual'; _blank">
            <div class="logo">
                <img src="Assets/Logos/AUTODESK logo.web" alt="">
            </div>
            <div class="name">
                AUTODESK
            </div>
        </div>
        <div class="flex" onclick="location.href='https://www.fisglobal.com/en/#explore-more'; _blank">
            <div class="logo">
                <img src="Assets/Logos/AUTODESK logo.web" alt="">
            </div>
            <div class="name">
                Cisco
            </div>
        </div>
        <div class="flex" onclick="location.href='https://knotsbyamp.com'; _blank">
            <div class="logo">
                <img src="Assets/Logos/KnotsbyAMP - PNG for Website.png" alt="">
            </div>
            <div class="name">
                KnotsbyAMP
            </div>
        </div>
    </div>
    <div class="sponsorHeading">
        Powered By
    </div>
    <div class="details">
        <div class="flex" onclick="location.href='https://bolt.earth'; _blank">
            <div class="logo">
                <img src="Assets/Logos/BOLT_transparent.png" alt="">
            </div>
            <div class="name">
                BOLT
            </div>
        </div>
    </div>
    <div class="sponsorHeading">
        Technology Partner
    </div>
    <div class="details">
        <div class="flex" onclick="location.href='https://www.walmart.com'; _blank">
            <div class="logo">
                <img src="Assets/Logos/BOLT_transparent.png" alt="">
            </div>
            <div class="name">
                WALMART
            </div>
        </div>
    </div>
    <div class="sponsorHeading">
        Grooming Partner
    </div>
    <div class="details">
        <div class="flex" onclick="location.href='https://bombayshavingcompany.com/'; _blank">
            <div class="logo">
                <img src="Assets/Logos/Banner 6x3ft_B copy.jpg" alt="">
            </div>
            <div class="name">
                BOMBAY SHAVING COMPANY
            </div>
        </div>
    </div>
    <div class="sponsorHeading">
        Coffee Partner
    </div>
    <div class="details">
        <div class="flex" onclick="location.href='https://www.sixdegreescoffee.com'; _blank">
            <div class="logo">
                <img src="Assets/Logos/6degreesindia.png" alt="">
            </div>
            <div class="name">
                6 DEGREES COFFEE
            </div>
        </div>
    </div>
    <div class="sponsorHeading">
        Online Branding and Online Events
    </div>
    <div class="details">
        <div class="flex" onclick="location.href='https://easylearn.net.in'; _blank">
            <div class="logo">
                <img src="Assets/Logos/6degreesindia.png" alt="">
            </div>
            <div class="name">
                EASY LEARN
            </div>
        </div>
    </div>
    <div class="sponsorHeading">
        Official Vacation Partner
    </div>
    <div class="details">
        <div class="flex" onclick="location.href='https://www.fisglobal.com/en/#explore-more'; _blank">
            <div class="logo">
                <img src="Assets/Logos/Axplorar.png" alt="">
            </div>
            <div class="name">
                AXPLORAR
            </div>
        </div>
    </div>
    <div class="sponsorHeading">
       Official Payments Integration Partner
    </div>
    <div class="details">
        <div class="flex" onclick="location.href='http://www.axplorar.com'; _blank">
            <div class="logo">
                <img src="Assets/Logos/Axplorar.png" alt="">
            </div>
            <div class="name">
                JUSPAY
            </div>
        </div>
    </div>
    <div class="sponsorHeading">
        Other Sponsors
    </div>
    <div class="details">
        <div class="flex" onclick="location.href='https://learningwhiletravelling.com/home'; _blank">
            <div class="logo">
                <img src="Assets/Logos/LWT academy .png" alt="">
            </div>
            <div class="name">
                LWT Academy
            </div>
        </div>
        <div class="flex" onclick="location.href='https://collegepond.com'; _blank">
            <div class="logo">
                <img src="Assets/Logos/Collegepond logo-1.png" alt="">
            </div>
            <div class="name">
                College Pond
            </div>
        </div>
        <div class="flex" onclick="location.href='https://www.forestfuse.com'; _blank">
            <div class="logo">
                <img src="Assets/Logos/Logo file.png" alt="">
            </div>
            <div class="name">
                Forestfuse
            </div>
        </div>
        <div class="flex" onclick="location.href='https://theswitchfix.co/'; _blank">
            <div class="logo">
                <img src="Assets/Logos/Switch Primary Logo (1).png" alt="">
            </div>
            <div class="name">
                The Switch Fix
            </div>
        </div>
        <div class="flex" onclick="location.href='https://www.briflynews.com/en'; _blank">
            <div class="logo">
                <img src="Assets/Logos/Switch Primary Logo (1).png" alt="">
            </div>
            <div class="name">
                Briffly News
            </div>
        </div>
        <div class="flex" onclick="location.href='https://www.getclientell.com'; _blank">
            <div class="logo">
                <img src="Assets/Logos/Switch Primary Logo (1).png" alt="">
            </div>
            <div class="name">
                Clientell
            </div>
        </div>
        <div class="flex" onclick="location.href='https://www.minduhealth.com'; _blank">
            <div class="logo">
                <img src="Assets/Logos/Switch Primary Logo (1).png" alt="">
            </div>
            <div class="name">
                Mind U Health
            </div>
        </div>
        <div class="flex" onclick="location.href='https://www.soundideazacademy.in'; _blank">
            <div class="logo">
                <img src="Assets/Logos/Switch Primary Logo (1).png" alt="">
            </div>
            <div class="name">
                Soundideaz
            </div>
        </div>
        <div class="flex" onclick="location.href='https://www.cuvette.tech/'; _blank">
            <div class="logo">
                <img src="Assets/Logos/Switch Primary Logo (1).png" alt="">
            </div>
            <div class="name">
                Cuvette Tech
            </div>
        </div>
    </div>
</body>

</html>